/*Booking form*/
#bookingform{
    position: fixed;
    display:block;
    padding-left:20px;
    font-size: var(--p-font);
}
/*Sendt booking*/
#sendtbooking{
    font-family: 'Passion One', cursive;
    font-size: var(--h1-font);
    position: relative; 
    display:block;
    width:100%;
    text-align: center;
    margin-top:10%;

}