.gridtesting{
    background-color: rgba(255, 255, 255, 0.8);
  
  font-size: var(--p-font);

}
.gridcontainer{
    display: flex;
    flex-wrap: wrap;
  grid-template-columns: 30% 30% 30%;
  padding: 10px;
}
.måltid{
    padding:20px;
    position: relative;
    flex:100%;
}
.måltid h2{
    font-size: var(--h2-font);
}
.food{
    display:block;
    position: relative;
    float:left;
    height:350px;
    margin-right: 10px;
    margin-top: 16px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.food2{
    display:block;
    position: relative;
    float:right;
    height:350px;
    margin-right: 10px;
    margin-top: 16px;
    border-radius:30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Meny{
    text-align:center;
    font-size: var(--h1-font);
}
.matrett{
    margin-top:100px;
    font-size:var(--h3-font);
    margin-left:5%;
}
.allergi{
    position: relative;
    text-align: center;
}
hr{
    display:block;
    content: "";
    border-style:solid;
    background-color:#1C2833;
    height:2px;
    border-color:#1C2833;

    border-radius:20px;
    margin-bottom:5px;

}
.sidelink{
    display:block;
    font-size:var(--h2-font);
    color:black;
}
@media(max-width: 800px){
    .måltid{
        flex:100%;
    }
}