*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --bg-color: #DFDFDF;
    --main-color: #B91728;
    --second-color: #1C2833;
    --text-color: #070707;

    --button-font: 1rem;
    --p-font: 1.5rem;
    --h3-font: 1.8rem;
    --h2-font: 2.5rem;
    --h1-font: 4rem;
    
}
/*HEADER*/
header{
    z-index: 10;
    align-items: center;
    padding: 20px 18%;
    display: flex;
}
.logo_tekst{
    margin-right: 20%;
    margin-left: 20px;
}
#menu-icon{
    color: var(--text-color);
    font-size: 40px;
    z-index: 11;
    cursor: pointer;
    display: none;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--second-color);
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
    transition: ease .3s;
    margin-left: 40px;
    }
.navbar a:hover{
    color: var(--bg-color);
    background-color: var(--main-color);
    box-shadow: 3px 5px 20px rgba(15, 15, 15, 0.5);
    border-radius: 4px;
}
/*HOME*/
#home{
    /*BARE EN TEST FOR BILDE*/
    background-image: url(/images/eating-gdbe7da72e_1920.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    align-items: center;
    text-align: center;
}
.home-tekst h1{
    font-family: 'Passion One', cursive;
    font-size: var(--h1-font);
    color: var(--main-color);
    margin-bottom: 15px;
}
.home-btn{
    display: inline-block;
    font-size: var(--button-font);
    color: var(--bg-color);
    border-radius: 10px;
    background-color: var(--main-color);
    padding: 10px 10px;
    transition: ease-out 0.2s;
}
.home-btn:hover{
    border-radius: 10px;
    background-color: #80262f;
    padding: 10px 10px;
    transform: scale(1.1);
    transition: ease-in 0.3s;
}
/*Booking form*/
#bookingform{
    position: fixed;
    left: 900px;
    bottom: 600px;
    font-size: var(--p-font);
}
/*Sendt booking*/
#sendtbooking{
    font-family: 'Passion One', cursive;
    font-size: var(--h1-font);
    color: var(--main-color);
    position: fixed;
    left: 900px;
    bottom: 600px;
}




/*MEDIA*/
@media (max-width: 1400px){
    :root{
        --p-font: 1.4rem;
        --h3-font: 1.7rem;
        --h2-font: 2.4rem;
        transition: .2s;
	}
    header{
        padding: 17px 3%;
        transition: .2s;
    }
    body {
        background-color: rgb(32, 226, 14);
      }
}
@media (max-width: 1040px){
    :root{
        --button-font: 0.8rem;
        --p-font: 1.2rem;
        --h3-font: 1.6rem;
        --h2-font: 2.2rem;
        --h1-font: 3.5rem;
        transition: .2s;
	}
    .navbar{
        display: block;
        text-align: center;
    }
    #menu-icon{
		display: block;
	}
    body {
        background-color: rgb(0, 160, 235);
      }
}
@media (max-width: 575px) {
    :root{
        --p-font: 1rem;
        --h3-font: 1.5rem;
        --h2-font: 2rem;
        --h1-font: 3rem;
        transition: .2s;
	}
    header{
        padding: 10px 2%;
        transition: .2s;
    }
    body {
      background-color: rgb(243, 14, 14);
    }
    .home-tekst h1{
        font-size: 45px;
        transition: .2s;
    }
  }