*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root{
    --bg-color: #DFDFDF;
    --main-color: #A01298;
    --second-color: #1C2833;
    --text-color: #070707;

    --p-font: 1rem;
    --h2-font: 2.5rem;
    --h3-font: 5rem;
}
header{
    z-index: 10;
    align-items: center;
    padding: 30px 18%;
    display: flex;
}
.logo{
    font-size: var(--h3-font);
    letter-spacing: 1px;
    color: var(--main-color);
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--second-color);
    font-size: var(--p-font);
    padding: 12px 20px;
    border-radius: 4px;
    }