*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --bg-color: #DFDFDF;
    --main-color: #B91728;
    --second-color: #1C2833;
    --text-color: #070707;

    --p-font: 1rem;
    --h2-font: 2.5rem;
    --h3-font: 5rem;
}
/*HEADER*/
header{
    z-index: 10;
    align-items: center;
    padding: 20px 18%;
    display: flex;
}
.logo{
    margin-right: 20%;
    margin-left: 20px;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--second-color);
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
    transition: ease .3s;
    margin-left: 40px;
    }
.navbar a:hover{
    color: var(--bg-color);
    background-color: var(--main-color);
    box-shadow: 3px 5px 20px rgba(15, 15, 15, 0.5);
    border-radius: 4px;
}
/*HOME*/
#home{
    /*BARE EN TEST FOR BILDE*/
    background-image: url(/images/eating-gdbe7da72e_1920.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    align-items: center;
    text-align: center;
}
.home-tekst h1{
    font-family: 'Passion One', cursive;
    font-size: 60px;
    color: var(--main-color);
    margin-bottom: 15px;
}
.home-btn{
    display: inline-block;
    color: var(--bg-color);
    border-radius: 10px;
    background-color: var(--main-color);
    padding: 10px 10px;
    transition: ease-out 0.2s;
}
.home-btn:hover{
    border-radius: 10px;
    background-color: #80262f;
    padding: 10px 10px;
    transform: scale(1.1);
    transition: ease-in 0.3s;
}
/*Meny*/
.matrett{
    margin-top:10px;
    font-size:25px;
    margin-left:5%;
}
hr{
    display:block;
    content: "";
    border-style:solid;
    background-color:#1C2833;
    height:2px;
    border-color:#1C2833;

    border-radius:20px;
    margin-bottom:5px;

}
h2{
    font-size:35px;

}
.beskrivelse{
    
}
.allergi{
    
}
.gridtesting{
    background-color: rgba(255, 255, 255, 0.8);
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.gridcontainer{
    display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.Meny{
    text-align:center;
    font-size:50px;
}